@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ------------------------- GROUPING -------------------------- */

.galleryImages {

}

.galleryImages:before,
.galleryImages:after {
    content:"";
    display:table;
}
.galleryImages:after {
    clear:both;
}

/* ------------------------- COLUMN SETUP -------------------------- */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media (max-width: 480px) {
  .col {
    margin: 0;
  }
}


/* ------------------------- GRID SYSTEM -------------------------- */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media (max-width: 480px) {
	.span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
}

/* Full IE10 Support for Usage of CSS Columns */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/column-count */

.columns {
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
}

@media (min-width: 768px) {
  .columns {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
  }
}

@media (min-width: 980px) {
  .columns {
    -webkit-column-gap: 36px;
    -moz-column-gap: 36px;
    column-gap: 36px;
  }
}

@media (min-width: 1200px) {
  .columns {
    -webkit-column-gap: 42px;
    -moz-column-gap: 42px;
    column-gap: 42px;
  }
}

.bgImage{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: top center;
}

.background {
    background: url("") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ------------------------- HELPER CLASSES -------------------------- */

.flexCenter {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -ms-flex-pack: center;
    -webkit-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-flex-align: center;
    align-items: center;
}

.flexColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.rel {
    position: relative;
}

.clear {
    clear: both;
}

.placement {
    position: relative;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 100%;
}

.imageAbove {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
}

/* ------------------------- TRANSITIONS -------------------------- */

.effect1 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.effect2 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.effect3 {
    /* ENABLES ALL CSS TRANSITION FOR THAT NODE/TAG */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* ------------------------- START OF CSS -------------------------- */

body {

}

:root {
  --primary-color: #ba6330;
  --secondary-color: #ba6330;
  --secondary-color: #ba6330;
}

.font {
    font-family: 'Roboto', sans-serif;
}
